.drop-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: 1.2rem;
  color: #888;
  border-radius: 6px;
  cursor: pointer;
}

.drop-post p {
  margin: 0 0 1rem;
}
.custom-file-upload {
  padding: 0.5rem 1rem;
  font-weight: 600;
  color: white;
  background-color: rgb(0, 153, 255);
  border-radius: 8px;
  cursor: pointer;
}

.custom-file-upload:hover {
  background-color: rgb(0, 180, 255);
}

input[type="file"] {
  display: none;
}

.fileInput {
  display: none;
}

.captionInput {
  width: 100%;
  margin-top: 5px;
  outline: none;
  resize: none;
  font-size: small;
}

.locationInput {
    border: none;
    outline: none;
    width: 90%;   
}