.mobileWallpaper{
    background-image: url("/public/img/direct_slide.png");
    animation: changeBg 8s infinite;

}


@keyframes changeBg {
    0% {
      background-image: url('/public/img/img_photo_1.png');
    }
    25% {
      background-image: url('/public/img/img_photo_2.png');
    }
    50%{
      background-image: url("/public/img/img_photo_3.png");
    }
    75% {
      background-image: url('/public/img/img_photo_4.png');
    }
  }