.progress-bar-container {
  width: 100%;
  height: 2px;
  background-color: #efefef;
  border-radius: 4px;
  overflow: hidden;
  opacity: 0.5;
  transition: opacity 0.3 ease-out;
  margin: 1rem;
}

.active {
  opacity: 1;
}

.progress-bar {
  height: 100%;
  background-color: lightskyblue;
  border-radius: 4px;
}
